.profile__header {
    padding: 1rem 0;
    border-bottom: 1px solid #ececec;
}

fieldset {
    border: 1px solid #ececec;
    padding: 0.2rem 0.7rem 0.7rem;
    border-radius: 4px;
}

legend {
    color: #939cb0;
    padding: 4px;
}

.profile__data {
    font-size: 1.2rem;
    font-family: 'YS Text', Helvetica Neue, Arial, sans-serif;
}
