.specialisations__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    padding: 1rem;
}

.specialisations__item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.specialisations__item__name {
    /* margin-top: 0.5rem; */
    width: 80%;
    font-size: 1.2rem;
    /* padding: 0.5rem; */
    border: 0;
    outline: 0;
}

.specialisations__item__name:focus {
    outline: 2px solid black;
}

.specialisations__item__error {
    margin-top: 1rem;
    padding: 1rem 0;
    font-size: 1.2rem;
}
