a {
    text-decoration: none;
    color: #000;
}

.master {
    padding: 1rem;
    border-bottom: 1px solid #ececec;

    font-size: 1.2rem;
}

.master:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.master__login {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
