.masters__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #ececec;
}

.masters__add-button {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 1.2rem;
}
